@charset "utf-8";
/* CSS Document */

body {
	background:#F96;
	margin: 0; padding: 0; 
	font-family:Arial, Helvetica, sans-serif; font-size: 12px;
	
}
ul {
	list-style:none;
}



#logo {
	position:absolute;
	width: 200px; height: 160px;
	margin: 0 auto; display:block;
	margin-left:100px;
}

.container {
	width:1100px; margin:0 auto;}
	
#header {
	height:158px;
	background: url(../images/bkgd-header.jpg) repeat-x;
	margin: 0 ; border-bottom: 3px solid #c0943c;
}

#menu{
	width:auto;
	height:50px;
	
}
	
#nav{
	margin:120px 10px 0 0;
	padding: 0; float:right;
}

#nav li{
	float:left; 
	width:50px; height:23px;
	background: url(../images/menu.jpg) no-repeat  ;
	padding: 8px 13px 8px 18px;
	font-size:12px;
	text-align:center;
	margin-left:5px;
	display:inline;
}

#warna{
	 box-shadow:inset -21px 14px 15px -20px #f9eca0; 
	 background: -moz-linear-gradient(left bottom , rgba(0, 0, 0, 0.2) 0px, transparent 0.2%, transparent 99.8%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0% 0%, no-repeat scroll 50% 50%, -moz-linear-gradient(center bottom , rgb(552, 152, 102) 0px, rgb(594, 94, 94) 80%, rgb(594, 94, 94) 81%, rgb(552, 152, 102) 100%) repeat scroll 0% 0% transparent; 
	 background-color:#d6bfde; -moz-border-radius:27px; 
	 -webkit-border-radius:27px; border-radius:10px; 
	 font-family:Arial Black; 
	 font-size:14px; padding:3px 10px;
	 margin-top:5px;
}
a {
	text-decoration:none;
	color:#039;
}

ul {
	list-style:none;
}
#contain {
	width: 1100px; 
	height: 800px;
	margin-left:120px;
	margin-top:25px;
}

#contain1 {
	width: 1100px; 
	height:1000px;
	margin:10px 20px 10px 120px;
	margin-bottom:40px;
	

}
#contain2 {
	width: 1100px; 
	height:350px;
	margin:10px 20px 10px 120px;
	margin-bottom:40px;
	

}
#primary {
	float:left;
	width:750px;
	height:800px;
	
}

#secondary {
	float:right;
	width:300px;
	height:800px;
	float:right;
	
}

#secondary1 {
	float:right;
	width:300px;
	height:800px;
	float:right;
	box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid #9FF;
	margin-bottom:20px;
}

#a{
	width:80px;
	height:50px;
	float:left;
	font-size:10px;
}

#b{
	width:180px;
	height:50px;
	float:left;
}

#b input{
	background-color:#efdb9e;
}
#footer {
	width:1100;
	text-align:center;
	height:auto;
	background-color:#C33;
}

#login {
	width:278px;
	border: 1px solid #c0943c;
	padding: 10px; background: #efdb9e; 
	color:#95844d; font-size: 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

#login input type:submit{
	background-color:red;
}

#form{
	width:450px;
	margin-left:450px;
	margin-top:50px;
	margin-bottom:20px;

}

fieldset {
	width:300px;		
}

label{
	float:left;	
}

p{
	clear:both;
}

#left{
	width:530px;
	height:300px;
	float:right;
	margin-top:10px;
	box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid #9FF;
	
}
#left1{
	width:530px;
	height:30px;
	background: -moz-linear-gradient(left bottom , rgba(0, 0, 0, 0.2) 0px, transparent 0.2%, transparent 99.8%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0% 0%, no-repeat scroll 50% 50%, -moz-linear-gradient(center bottom , rgb(552, 152, 102) 0px, rgb(594, 94, 94) 80%, rgb(594, 94, 94) 81%, rgb(552, 152, 102) 100%) repeat scroll 0% 0% transparent;
    background-color: transparent;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #9FF;
}

#right{
	width:550px;
	height:300px;
	float:left;
	margin-top:10px;
	box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid #9FF;
}

#right1{
	width:550px;
	height:30px;
	 background: -moz-linear-gradient(left bottom , rgba(0, 0, 0, 0.2) 0px, transparent 0.2%, transparent 99.8%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0% 0%, no-repeat scroll 50% 50%, -moz-linear-gradient(center bottom , rgb(552, 152, 102) 0px, rgb(594, 94, 94) 80%, rgb(594, 94, 94) 81%, rgb(552, 152, 102) 100%) repeat scroll 0% 0% transparent;
    background-color: transparent;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #9FF;
	
}

#list{
	width:1100px;
	height:150px;
	margin-left:120px;
	box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid #9FF;
	margin-bottom:30px;
	float:right;
	
	
}
.list{
	border-collapse:collapse;
	width:100%;
	border-top:1px solid rgb(221, 221, 221);
	
	margin:0px;
	
}
#list1{
	width:1100px;
	height:150px;
	margin-left:120px;
	box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid #9FF;
	margin-bottom:30px;

	
	
}
#profiletable{
	width:20%;
	height:auto;
	
	
	margin-bottom:30px;
}

.profiletable{
	border-collapse:collapse;
	width:100%;
	padding: 5px 5px 5px 5px;
	font-size:14px;
	box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid #9FF;
}

.profiletable td{
		padding: 5px 5px 5px 5px;
}


#table {
	
	width:70%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background: rgb(220, 220, 255);
	
}


#regis label
{
	display:block;
	margin-bottom:5px;
	width:150px;
	float:left;
}
#regis input[type=text],#regis input[type=password],#regis input[type=date] {
	width:150px; 
	background:#CCCCCC; 
	height:20px; 
	border:1px #333333 solid;
	border-radius:5px;
}
#regis{
	width:350px;
	height:auto;
	margin-top:5px;
}

#product{
	text-align:center;
	width:145px;
	float:left;
}

#gbr_add{
	width:130px;
}

.topLink2{
	position:relative;
	vertical-align:top;
	font-size:12px
}

.topLink2 .sub{
	line-height:16px;
	display:none;
	position:absolute;
	top:25px;
	left:2px;
	box-shadow:rgba(0,0,0,0.7) 1px 1px 3px;
	border-radius:4px;
	background-color:#fff;
	padding:3px;
	z-index:101;
	
}

.topLink2:hover .sub{
	display:-moz-inline-box;
	display:inline-block;
	zoom:1;
	*display:inline
}

.topLink2[hasub="1"]:hover .mlink{
	border-radius:4px
}